<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Choox</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                        </li>
                        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('fos_user_registration_register') }}">
                                {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div>
                {% block fos_user_content %}
                    {% trans_default_domain 'FOSUserBundle' %}
                {% endblock fos_user_content %}
            </div>

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
