{% extends 'base.html.twig' %}

{% form_theme form 'logo/imageUploadPreviews.html.twig' %}

{% block body %}
    <h1>{{ 'logo.create.heading' | trans }}</h1>

    <div class="col-md-8">
        {{ form_start(form, {'method': 'post'}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/autocomplete.js') }}" id="teamprovider" data-team-names="{{ teamprovider.getTeamNames() }}">
    </script>
    <script src="{{ asset('js/imagePreview.js') }}"></script>
{% endblock %}